<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://yourdomain/ImageClassificationSingleShot" version="1.0.0" viewmodes="maximized">
    <tizen:application id="GJl6dkX55v.ImageClassificationSingleShot" package="GJl6dkX55v" required_version="6.5"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="icon.png"/>
    <name>ImageClassificationSingleShot</name>
    <tizen:privilege name="http://tizen.org/privilege/filesystem.read"/>
    <tizen:privilege name="http://tizen.org/privilege/filesystem.write"/>
    <tizen:privilege name="http://tizen.org/privilege/mediastorage"/>
    <tizen:profile name="mobile"/>
</widget>
